@using CI_Platform.Entities.Models.VM

@model List<PlatformLandingViewModel>;
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
     Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="~/css/pl.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<body>

    <div class="container">

        <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block">
            <div class="container">
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="#">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">Policy-1</a></li>
                                <li><a class="dropdown-item" href="#">Policy-2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0 b-filter" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="~/images/user-img.png" alt="" style="border-radius: 50%;" height="30px"
                                    width="30px">
                                <span>@ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                <li><a class="dropdown-item" href="#">My Account</a></li>
                                <li><a class="dropdown-item" href="#">Help Center</a></li>
                                <li><a class="dropdown-item" href="#">Logout </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- ////////////////////////////////// -->
        <div class="first-nav d-md-none ">
            <div id="mySidebar1" class="sidebar d-inline">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">
                    Stories
                </a>

                <a href="#">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="#">Policy-1</a></li>
                            <li><a class="dropdown-item" href="#">Policy-2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else </a></li>
                        </ul>
                    </li>
                </a>
            </div>
            <div id="main1" class="d-flex justify-content-between m-2">
                <button class="openbtn " onclick="openNav()">☰ </button>
                <img src="~/images/user-img.png" class="rounded-pill  " height="40px" width="40px" alt="">
            </div>
        </div>
        <!-- //////////////////////////////// -->
        <div class="row mt-4 bdr container-fluid  ps-0 pe-0  mb-2">
            <div class="srchbar">
                <div class="input-group rounded bd d-none d-md-flex  ">

                    <div class="col-12 col-lg-6 col-md-6 be ">
                        <div class="srch ">
                            <!-- <span class="input-group-text  border-0" id="search-addon"> -->
                            <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                            <!-- </span> -->
@*                            <input type="search" class="form-control rounded d-inline srch"
                                placeholder="Search mission..." aria-label="Search" aria-describedby="search-addon" />*@
                         <form id="search-form" method="get" class="d-inline">
                                <input type="search" class="form-control rounded d-inline srch" id="search-input" name="query" placeholder="Search mission..." aria-label="Search" aria-describedby="search-addon" >
                         </form>
                          
                        </div>
                    </div>
                    
                    <div class="col-12 col-lg-6 col-md-6 ">
                        <div class="row  ">
                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                                @*<a class="btn  dropdown-toggle p-0 b-filter" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Country&nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                    @foreach (var item in @ViewBag.Country)
                                    {
                                   <input class="form-check-input " type="checkbox" value=" " id="flexCheckChecked1" >
                                    <label class="form-check-label" for="flexCheckChecked1">
                                        @item.Name
                                     </label><br>
                                    }
                                </ul>*@
                                <select id="countryDropdown" class="border-0" name="CountryId">
                                    <option value="" > Country </option>
                                </select>
                            </div>

                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                                <a class="btn  dropdown-toggle p-0 b-filter" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>City&nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu " id="cityDropdown" aria-labelledby="dropdownMenuLink">
                                    @* @foreach (var item in @ViewBag.City) *@
                                    
                                    <input class="form-check-input c-dropdown" type="checkbox" value=""  >
                                     <label class="form-check-label" >
                                       
                                     </label><br>
          
                                </ul>
                                    @*<select id="cityDropdown"  class="border-0" name="CityId">
                                   
                                    <option value="">City </option>
                                
                                </select>*@
@*                        <div id="cityCheckboxContainer">
                        <select id="cityDropdown"  class="border-0" name="CityId">
                        <input type="checkbox" id="city1" name="city1" value="city1">
                            <label for="city1">City </label>
                        </select>
                        </div>  *@
                            </div>

                            <div class="dropdown d-inline col-lg-3  col-md-3 col-6 be text-center">
                                <a class="btn  dropdown-toggle p-0 b-filter" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Theme &nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink" id="theme">
                                    @*<li><a class="dropdown-item" href="#">Theme-1</a></li>
                                    <li><a class="dropdown-item" href="#">Theme-2 </a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>*@
                                    @foreach (var item in @ViewBag.MissionTheme)
                                    {
                                    @*<li><a class="dropdown-item" href="#">@item.Title</a></li>*@
                                        <input class="form-check-input themeDropdown" id="@item.Title" type="checkbox" value="@item.MissionThemeId @item.Title" onclick="misfun(this);">
                                     <label class="form-check-label" for="themeDropdown">
                                        @item.Title
                                     </label><br>
                                    
                                    }
                                </ul>
                            </div>

                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 text-center">
                                <a class="btn  dropdown-toggle p-0 b-filter" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Skills &nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    @*<li><a class="dropdown-item" href="#">Skill-1</a></li>
                                    <li><a class="dropdown-item" href="#">Skills-2</a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>*@
                                    @foreach (var item in @ViewBag.Skill)
                                    {
                                    @*<li><a class="dropdown-item" href="#">@item.SkillName</a></li>*@
                                    <input class="form-check-input" type="checkbox" value="@item.SkillId @item.SkillName" id="@item.SkillName" onclick="skillfun(this);" >
                                     <label class="form-check-label" for="flexCheckChecked4">
                                        @item.SkillName
                                     </label><br>
                                    }
                                </ul>
                               @*<button class="d-inline p-2 bg-primary text-white d-none" id="FilterBtn">FilterBtn</button>*@

                            </div>
                        </div>
                    </div>
                </div>
            </div> 
            <!-- ///////////////////// -->
            <div class="second-nav 	d-md-none w-100">
                <div class="mob-sidebar mx-auto">

                    <!-- </div> -->
                    <div id="mySidebar2" class="sidebar d-inline">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">×</a>
                        <a href="#">
                            @*<li class="nav-item dropdown ">
                                <a class="nav-link dropdown-toggle b-filter" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Country
                                </a>
                                <ul class="dropdown-menu ">
                                    @foreach (var item in @ViewBag.Country)
                                    {
                                    <li><a class="dropdown-item" href="#">@item.Name</a></li>
                                    }
                                </ul>
                            </li>*@
                            <select id="countryDropdown" name="CountryId">
                                    <option value="" > Country </option>
                            </select>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                @*<a class="nav-link dropdown-toggle b-filter" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    City
                                </a>
                                <ul class="dropdown-menu ">
                                    @foreach (var item in @ViewBag.City)
                                    {
                                    <li><a class="dropdown-item" href="#">@item.Name</a></li>
                                    }
                                </ul>*@
                                 <select id="cityDropdown" name="CityId">
                                    <option value="">City </option>
                                </select>
    

                            </li>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle b-filter " href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Theme
                                </a>
                                <ul class="dropdown-menu ">
                                     @foreach (var item in @ViewBag.MissionTheme)
                                    {
                                    <li>@item.Title</li>
                                    }
                                </ul>
                            </li>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle b-filter" href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Skills
                                </a>
                                <ul class="dropdown-menu ">
                                    @foreach (var item in @ViewBag.Skill)
                                    {
                                    <li><a class="dropdown-item" href="#">@item.SkillName</a></li>
                                    }

                                </ul>
                            </li>
                        </a>
                    </div>

                    <div id="main2" class="d-flex justify-content-end m-2 ">
                        <input type="search" class="form-control rounded d-inline srch" id="search_small" placeholder="Search mission..."
                            aria-label="Search" aria-describedby="search-addon" />
                        <button class="openbtn " onclick="openNav2()">☰ </button>
                        <!-- <h2>Collapsed Sidebar</h2>
                                <p>Click on the hamburger menu/bar icon to open the sidebar, and push this content to the right.</p> -->
                    </div>
                </div>
            </div>
            <!-- ///////////////// -->
            <div id="chips">
            </div>
           @* <div class="all-filters d-flex align-items-center flex-wrap mt-4 mgl ">
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1 flex-nowrap">
                    <p class="filter">Tree Plantation</p>
                    <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                    <p class="filter">Canada</p>
                    <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                    <p class="filter">Toronto</p>
                    <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                    <p class="filter">Montreal</p>
                    <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                    <p class="filter">Environment</p>
                    <i class="bi bi-x"></i>
                </div>
                <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                    <p class="filter">Nuitrition</p>
                    <i class="bi bi-x"></i>
                </div>
            </div>*@
            <!-- <h1 class="mgl mt-2">Explore 72 missions</h1> -->

        </div>

    </div>
    <div class="container mt5">

        <!-- -------------------------------------------------------------- -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light " id="mission-list">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <h1>Explore missions</h1>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">

                    <form class="d-flex ms-auto">

                        <select  id="sortby">
                          <option value="-1" selected>Sort by</option>
                          <option value="newest">Newest</option>
                          <option value="oldest">Oldest</option>
                          <option value="seats_desc">Lowest Available Seats</option>
                          <option value="seats_asc">Highest Available Seats</option>
                          <option value="deadline">Deadline(Descending order)</option>
                        </select>

                        <button class="btn " id="grid" onclick="showView('grid')"><img src="~/images/grid.png"
                                alt=""></button>
                        <button class="btn " id="list" onclick="showView('list')"><img src="~/images/list.png"
                                alt=""></button>
                        <button class="btn d-none" id="FilterBtn" type="button"></button>
                        <button class="btn d-none" id="NoMissionId" type="button"></button>
                    </form>
                </div>
            </div>
        </nav>

            @*Grid-view*@
        <div id="products" class="row view-group all-view">
           @foreach (var item in Model)
                {
            <div class="item col-xs-4 col-lg-4">
               
                    
         
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid w-100"
                            src="@item.image?.MediaPath" alt="unable to load img" />
                        <div class="bottom-left justify-content-center">
                            @item.Missions?.Theme.Title
                        </div>
                        <div class="bottom-right  opacity-50   ">
                            <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
                        </div>
                        <div class="bottom-right2  opacity-50   ">
                            <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
                        </div>
                        <div class="bottom-right3  opacity-50   ">
                            <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                            <span>@item.Missions?.City.Name</span>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            @item.Missions.Title</h4>
                        <p class="group inner list-group-item-text sd">
                           @item.Missions.ShortDescription</p>
                        <div class="row mb">
                            <div class="col col-lg-6 col-md-6 col-sm-12">@item.Missions.OrganizationName</div>
                            <div class="col col-lg-6 col-md-6 col-sm-12 ">
                                <img src="~/images/selected-star.png" class="wdimg" alt="">
                                <img src="~/images/selected-star.png" class="wdimg" alt="">
                                <img src="~/images/selected-star.png" class="wdimg" alt="">
                                <img src="~/images/star.png" class="wdimg" alt="">
                                <img src="~/images/star.png" class="wdimg" alt="">
                            </div>
                        </div>
                        <div class="position-relative ">
                            <hr style="z-index: -1;">
                            @if (item.Missions.MissionType=="TIME")
                            {
                            <div class="dt text-center  position-absolute">
                                <span class="fsize"> From  @item.Missions.StartDate.ToString().Substring(0, 10)  until @item.Missions.EndDate.ToString().Substring(0, 10)</span>
                            </div>
                                }
                            else
                            {
                            <div class="dt text-center  position-absolute">
                                <span class="fsize"> Ongoing Opportunity</span>
                            </div>
                                    
                            }

                        </div>
                        <div class="row mt-4 ">
                               @if (item.Missions.MissionType=="TIME")
                                {
                            <div class="col">
                             
                                    <table>
                                    <tr>
                                        <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                        <td>@item.Missions.SeatsVacancy</td>
                                    </tr>
                                    <tr>
                                        <td class="fsize2"> Seats Left</td>
                                    </tr>
                                </table>
                            </div>
                            <div class="col">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                        <td>09/01/2019 </td>
                                    </tr>
                                    <tr>
                                        <td class="fsize">Deadline</td>
                                    </tr>
                                </table>
                                        </div>
                                    }
                                    else
                                    {
                        <div class="col">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img src="~/images/Already-volunteered.png" alt=""></td>
                                        <td>250</td>
                                    </tr>
                                    <tr>
                                        <td class="fsize2">Already volunteered</td>
                                    </tr>
                                </table>
                        </div>
                        <div class="col">
                                <table>
                                    <tr>
                                        <td rowspan="2"><img src="~/images/achieved.png" alt=""></td>
                                        <td>
                                            <div class="progress">
                                                <div class="progress-bar bgw" role="progressbar" style="width: 75%"
                                                    aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="fsize2">8000 Achieved</td>
                                    </tr>
                                </table>
                        </div> 

                         }

                            </div>

                        <div class="row">
                            <div class="col-xs-12 col-md-6 mx-auto">
                                <a class="btn btnapp " asp-action="Volunteering_Mission_Page" asp-controller="Content" asp-route-id="@item.Missions.MissionId">Apply <img src="~/images/right-arrow.png" alt=""></a>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
            }
        </div>

        @*list view*@ 
        <div class="container all-view d-none" id="myListView">
    
        <!-- 1 -->
        @foreach (var item in Model)
        {
        <div class="row border mt-3 item ">
            
        <div class="col col-lg-4  col-md-12 col-xs-12 position-relative border-light  ">
            <img src="@item.image?.MediaPath" class="thumbimg" alt="" />
            <div class="bl1 justify-content-center">
                @item.Missions?.Theme.Title
            </div>
            <div class="bottom-right4  opacity-50   ">
                <img src="~/images/heart.png" class="mx-auto d-block p-1" alt="">
            </div>
            <div class="bottom-right5  opacity-50   ">
                <img src="~/images/user.png" class="mx-auto d-block p-1" alt="">
            </div>
            <div class="bottom-right6  opacity-50   ">
                <img src="~/images/pin.png" class="mx-auto p-1" alt="">
                <span>@item.Missions?.City.Name</span>
            </div>
        </div>
        <div class="col col-lg-8 col-md-12 col-sm-12">
            <h4 class="group card-title inner list-group-item-heading mtop">
                @item.Missions.Title </h4>
            <p class="group inner list-group-item-text sd">
                @item.Missions.ShortDescription.</p>

            <div class="row">
                <div class="col col-lg-6 col-md-6 col-sm-12">
                    <div class="d-inline">@item.Missions.OrganizationName</div>
                    <div class="d-inline">
                        <img src="~/images/selected-star.png" class="wdimg" alt="">
                        <img src="~/images/selected-star.png" class="wdimg" alt="">
                        <img src="~/images/selected-star.png" class="wdimg" alt="">
                        <img src="~/images/star.png" class="wdimg" alt="">
                        <img src="~/images/star.png" class="wdimg" alt="">
                    </div>
                </div>

                
                
                @if (item.Missions.MissionType=="TIME")
                {
                 
                <div class="col col-lg-6 col-md-6 col-sm-12 border text-center bdr-rds ">
                    @*<hr style="z-index: -1;">*@
                    <span class="fsize"> From @item.Missions.StartDate.ToString().Substring(0, 10) until @item.Missions.EndDate.ToString().Substring(0, 10)</span>
                </div>
                }
                else
                {
                   
                <div class="col col-lg-6 col-md-6 col-sm-12 border text-center bdr-rds  ">
                     @*<hr style="z-index: -1;">*@
                    <span class="fsize"> Ongoing Opportunity</span>
                </div>

                }

                <div class="col-xs-12 col-md-6 mx-auto">
                    <div class="row mt-4 ">
                        @if (item.Missions.MissionType=="TIME")
                        {
                        <div class="col">

                            <table>
                                <tr>
                                    <td rowspan="2"><img src="~/images/Seats-left.png" alt=""></td>
                                    <td>@item.Missions.SeatsVacancy</td>
                                </tr>
                                <tr>
                                    <td class="fsize2"> Seats Left</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table>
                                <tr>
                                    <td rowspan="2"><img src="~/images/deadline.png" alt=""></td>
                                    <td>09/01/2019 </td>
                                </tr>
                                <tr>
                                    <td class="fsize">Deadline</td>
                                </tr>
                            </table>
                        </div>
                        }
                        else
                        {
                        <div class="col">
                            <table>
                                <tr>
                                    <td rowspan="2"><img src="~/images/Already-volunteered.png" alt=""></td>
                                    <td>250</td>
                                </tr>
                                <tr>
                                    <td class="fsize2">Already volunteered</td>
                                </tr>
                            </table>
                        </div>
                        <div class="col">
                            <table>
                                <tr>
                                    <td rowspan="2"><img src="~/images/achieved.png" alt=""></td>
                                    <td>
                                        <div class="progress">
                                            <div class="progress-bar bgw" role="progressbar" style="width: 75%"
                                                aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="fsize2">8000 Achieved</td>
                                </tr>
                            </table>
                        </div>
                        }
                    </div>

                </div>

            </div>

        </div>
    
        </div>
    }
    </div>


        @*nmf*@
     <div class="content mt-5 text-center hidden" id="NoMissionFound">
            <div class="head w-100 text-center">
                <h5>No mission found</h5>
            </div>
            <a class="btn btnlist mt-3 " asp-action="Platform_Landing_Page" asp-controller="Content">Go to Homepage <img src="~/images/right-arrow.png"
                    alt=""></a>

     </div>
      @*nmf*@

        

        @*<nav aria-label="Page navigation example justify-content-center">
            <ul class="pagination mt-3">
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        <span class="sr-only">Previous</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                        <span class="sr-only">Next</span>
                        <span aria-hidden="true">&raquo;</span>

                    </a>
                </li>
            </ul>
        </nav>*@



    </div>
    </div>


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/js/searching.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @*<script src="/js/sortby.js"></script>*@
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {
            $('#list').click(function (event) { event.preventDefault(); $('#products .item').addClass('list-group-item'); });
            $('#grid').click(function (event) { event.preventDefault(); $('#products .item').removeClass('list-group-item'); $('#products .item').addClass('grid-group-item'); });
        });

    </script>
    <script>

        function openNav() {
            document.getElementById("mySidebar1").style.width = "250px";
            document.getElementById("main1").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar1").style.width = "0";
            document.getElementById("main1").style.marginLeft = "0";
        }
        function openNav2() {
            document.getElementById("mySidebar2").style.width = "250px";
            document.getElementById("main2").style.marginLeft = "250px";
        }

        function closeNav2() {
            document.getElementById("mySidebar2").style.width = "0";
            document.getElementById("main2").style.marginLeft = "0";
        }


        function showView(viewName) {
            $('.all-view').addClass('d-none')

            if (viewName == 'grid') {
                $('#products').removeClass("d-none")
            }
            else if (viewName == "list") {
                $('#myListView').removeClass("d-none")
            }
        }

        //
        $(function() {
            var searchTimer;
            $('#search-input').on('input', function() {
                clearTimeout(searchTimer);
                searchTimer = setTimeout(sendSearchRequest, 500); // debounce search requests
            });

            function sendSearchRequest() {
                var query = $('#search-input').val();
                $.get('/Search', { query: query }, function(result) {
                    $('#search-results').html(result);
                });
            }
        });
        //

    </script>
</body>

</html>