@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@using CI_Platform.Entities.Models

@model List<Mission>;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Share Your Story Page</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/sys.css">
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>

</head>

<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block">
            <div class="container">
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-action="Story_Listing_Page" asp-controller="StoryRelated">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">Policy-1</a></li>
                                <li><a class="dropdown-item" href="#">Policy-2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@ViewBag.UserDetails.Avatar" alt="" style="border-radius: 50%;" height="30px"
                                     width="30px">
                                <span>@ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</span>
                            </a>

                            @*<ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>*@
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                <li><a class="dropdown-item" asp-action="UserEditProfilePage" asp-controller="UserEditProfile">My Account</a></li>
                                <li><a class="dropdown-item" href="#">Help Center</a></li>
                                <li><a class="dropdown-item" href="#">Logout </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- ////////////////////////////////// -->
        <div class="first-nav d-md-none ">
            <div id="mySidebar1" class="sidebar d-inline">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">
                    Stories
                </a>

                <a href="#">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="#">Policy-1</a></li>
                            <li><a class="dropdown-item" href="#">Policy-2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else </a></li>
                        </ul>
                    </li>
                </a>
            </div>
            <div id="main1" class="d-flex justify-content-between m-2">
                <button class="openbtn " onclick="openNav()">☰ </button>
                <img src="/Images/volunteer1.png" class="rounded-pill  " height="40px" width="40px" alt="">
            </div>
        </div>
        <!-- //////////////////////////////// -->


    </div>
    <hr class="hr" />
    <div class="container">
        <form class="row g-3 needs-validation" novalidate>
        <p class="my-3 fs-1">
            Share your story
        </p>
        <div class="row">
            <div class="col col-lg-4 col-md-6 col-12 padforcol">
                <label for="myInputSelect" class="form-label">Select Mission</label>
                
                <select class="form-select myMissionTitles" id="myInputSelect" aria-label="Select your mission" data-user-id="@ViewBag.UserDetails.UserId" required>
                    <option selected value="-1">Select your mission</option>
                    @foreach (Mission item in Model)
                    {
                        <option value="@item.MissionId" data-user-id="@ViewBag.UserDetails.UserId">@item.Title</option>
                    }
                </select>
                <div class="invalid-feedback">
                    Please select a valid option.
                </div>

            </div>
            <div class="col col-lg-4 col-md-6 col-12 padforcol">
                <label for="storyTitle" class="form-label">My Story Title</label>
                <input type="text" class="form-control" id="storyTitle" placeholder="Enter story title" required>
                <div class="invalid-feedback">
                    Please write a story title.
                </div>
            </div>
            

            <div class="col col-lg-4 col-md-12 col-12 padforcol">
                <label for="myStoryDate" class="form-label">Date</label>
                <input type="date" class="form-control" id="myStoryDate" placeholder="Select date" required>
                <div class="invalid-feedback">
                    Please select a date.
                </div>
            </div>
            
        </div>
        <div class="row mt-3">
            <label for="ckText" class="form-label">My Story</label>
            <div class="col" id="ckText">
                <textarea required cols="80" id="editor1" name="editor1" rows="4">&lt;p&gt;This is some &lt;strong&gt;sample text&lt;/strong&gt;. You are using &lt;a href=&quot;https://ckeditor.com/&quot;&gt;CKEditor&lt;/a&gt;.&lt;/p&gt;</textarea>
                <div class="invalid-feedback">
                  Please enter a message in the textarea.
                </div>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <label for="myStoryVideo" class="form-label">Enter Video URL</label>
                <input  type="text" class="form-control" id="myStoryVideo" placeholder="Enter your url" required>
                <div class="invalid-feedback">
                    Please specify url link.
                </div>
            </div>
           
        </div>
        <div class="row mt-3">
            <label for="dragAndDrop" class="form-label">Upload your photos</label>
            <div class="col">
                <div id="dragAndDrop" class="border text-center">
                    <label for="fileInput">
                        <img class="mx-auto d-block my-3" src="~/Images/drag-and-drop.png" alt="unable to load">
                    </label>
                    <input type="file" multiple id="fileInput" style="display: none;" >
                </div>
                
                <div class="selectedImage">
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <div class="col">
                <button class="btn btn-success cancelBtn float-start" id="previewbtn" type="button">Preview</button>
                <a class="btn btn-danger cancelBtn float-start mx-2" asp-action="Story_Listing_Page" asp-controller="StoryRelated" type="button">Cancel</a>
                <button class="btn btn-primary SaveOrSubmitBtn float-end mx-2" id="submitBtn" type="button">Submit</button>
                <button class="btn btn-success SaveOrSubmitBtn float-end " id="SaveBtn" type="button">  Save</button>
            </div>
        </div>
       </form>
        
          
    </div>

    <hr class="hr mt-5" />

    <div class="container">

        <div class="privacy-policy mt-3 mb-3">
            <a asp-action="PrivacyPolicyPage" asp-controller="UserEditProfile" style="text-decoration:none;"> Privacy Policy</a>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="https://cdn.ckeditor.com/4.21.0/basic/ckeditor.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/story.js"></script>

    <script>

        //for displaying header in mobile view
        // -----------------------------------------------------------------------------------------------------------------
                function openNav() {
                    document.getElementById("mySidebar1").style.width = "250px";
                    document.getElementById("main1").style.marginLeft = "250px";
                }

                function closeNav() {
                    document.getElementById("mySidebar1").style.width = "0";
                    document.getElementById("main1").style.marginLeft = "0";
                }
                function openNav2() {
                    document.getElementById("mySidebar2").style.width = "250px";
                    document.getElementById("main2").style.marginLeft = "250px";
                }

                function closeNav2() {
                    document.getElementById("mySidebar2").style.width = "0";
                    document.getElementById("main2").style.marginLeft = "0";
                }
        

       //for validation 
       (function () {
          'use strict'

          // Get the "Save" and "Submit" buttons
          var saveBtn = document.getElementById('SaveBtn');
          var submitBtn = document.getElementById('submitBtn');

          // Attach event listener to "Save" button
          saveBtn.addEventListener('click', function (event) {
            var form = document.querySelector('.needs-validation');

            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add('was-validated');
          });

          // Attach event listener to "Submit" button
          submitBtn.addEventListener('click', function (event) {
            var form = document.querySelector('.needs-validation');

            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add('was-validated');
          });
        })();

        //preview buttton
        $("#previewbtn").click(function () {

           
            var missionid = $("#myInputSelect").val();
            console.log(missionid);
            window.location.href = "/StoryRelated/previewstorydata?id=" + missionid;

        });


        // -----------------------------------------------------------------------------------------------------------------

        // for ckeditor
        // -----------------------------------------------------------------------------------------------------------------
        CKEDITOR.replace('editor1', {
              height: 200,
              baseFloatZIndex: 10005,
              removeButtons: 'PasteFromWord,Cut,Copy,Paste,PasteText,Undo,Redo,Link,Unlink,Scayt,HorizontalRule,SpecialChar,NumberedList,BulletedList,Outdent,Indent,Blockquote,Anchor,Image,Table,Maximize,Source'
            });

        // -----------------------------------------------------------------------------------------------------------------

    </script>
</body>

</html>
