@using CI_Platform.Entities.Models.VM
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
       Layout = null;
}
@model StoryDetailViewModel;

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story_detail_page </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/sdp.css">
    <style>
        .image-container {
            width: 900px; 
            height: 300px; 
            overflow: hidden; 
        }

            .image-container img {
                max-width: 100%; 
                max-height: 100%; 
            }
    </style>
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block">
            <div class="container">
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" asp-action="Story_Listing_Page" asp-controller="StoryRelated">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">Policy-1</a></li>
                                <li><a class="dropdown-item" href="#">Policy-2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@ViewBag.UserDetails.Avatar" alt="" style="border-radius: 50%;" height="30px"
                                    width="30px">
                                <span>@ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</span>
                            </a>

                           
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Dashboard</a></li>
                                <li><a class="dropdown-item" asp-action="UserEditProfilePage" asp-controller="UserEditProfile">My Account</a></li>
                                <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="Timesheet">Volunteering Timesheet</a></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Authentication">Logout </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- ////////////////////////////////// -->
        <div class="first-nav d-md-none ">
            <div id="mySidebar1" class="sidebar d-inline">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">
                    Stories
                </a>

                <a href="#">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="#">Policy-1</a></li>
                            <li><a class="dropdown-item" href="#">Policy-2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else </a></li>
                        </ul>
                    </li>
                </a>
            </div>
            <div id="main1" class="d-flex justify-content-between m-2">
                <button class="openbtn " onclick="openNav()">☰ </button>
                <img src="/images/volunteer1.png" class="rounded-pill  " height="40px" width="40px" alt="">
            </div>
        </div>
        <!-- //////////////////////////////// -->
        <hr class="hr" />
        <div class="container mt-5">
            <div class="row">
              @*carousal*@
                <div class="col-lg-6 col-md-12 col-sm-12">
                    <div class="image">
                        <img id="selectedImage" class="img-fluid image-container" src="@Model.paths.FirstOrDefault()">
                        <iframe id="video1"  height="360px" src="" class="d-none w-100 " frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                    </div>

                    <div class="container text-center p-0">
                        <div class="row justify-content-center">
                            <div id="recipeCarousel" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner" role="listbox">
                                   @foreach (var item in Model.paths)
                                    {
                                        <div class="carousel-item @(item == Model.paths.FirstOrDefault() ? "active" : "")">
                                            <div class="col-md-3">
                                                <div class="card">
                                                    @if (item.Contains("youtube.com/embed/"))
                                                    {
                                                        <div class="card-img">
                                                        @{
                                                            string videoId = item.Substring(item.LastIndexOf("/") + 1);
                                                            string thumbUrl = string.Format("https://img.youtube.com/vi/{0}/maxresdefault.jpg", videoId);
                                                        }
                                                        <img src="@thumbUrl" data-url="@item" class="img-fluid img2 if" id="ivideo" onclick="displayVideo(this)">
                                                    </div>


                                                    }
                                                    else
                                                    {
                                                        <div class="card-img">
                                                            <img src="@item" class="img-fluid img2 if" id="i1" onclick="displayImage(this)">
                                                        </div>
                                                    }
                                                </div>
                                            </div>
                                        </div>
                                    }

                                    
                                </div>
                                <a class="carousel-control-prev bg-transparent w-auto" href="#recipeCarousel" role="button"
                                   data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                </a>
                                <a class="carousel-control-next bg-transparent w-auto" href="#recipeCarousel" role="button"
                                   data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                


                


                <div class="col-lg-6 col-md-12 col-sm-12 ">
                    <div class="d-flex  mb-3">
                        <div class="p-2 ">
                            <img src="@Model.Avatar" class="rounded-pill" alt="unable to load an image">
                            <div>@Model.FirstName @Model.LastName</div> 
                        </div>
                        <div class="ms-auto  mt-auto p-2">
                            <div class="rounded-pill border p-1 px-3">
                                <img src="/images/eye.png" alt="">
                                <span class="views" >@Model.Views Views</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <p class="p-text">
                            
                            @Model.WhyIVolunteer                        
                        </p>
                       
                    </div>
                    <div class="row">
                        <div class="col-md-7 mob-margin">
                            <button class="rounded-pill px-2 pt-2 pb-2 bg-white w-100" data-bs-toggle="modal" data-bs-target="#RecommendModel" type="button">
                                <img src="/images/add1.png" alt="">
                                <span >Recommanded To Co-Worker</span>
                            </button>
                        </div>
                        <div class="col-md-5  mob-margin">
                            <a class="btn btnlist pt-2 pb-2  text-center w-100" asp-action="Volunteering_Mission_Page" asp-controller="Content" asp-route-id ="@Model.MissionId">Open Mission <img src="/images/right-arrow.png"
                                alt="unable to load an image">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mt-5">
                <h4>
                   
                    @Model.Title
                </h4>
                <hr class="hr" />
                <P class="p-text">
                    @Model.Description 
               </P>
                <P class="p-text">
                     @Model.Description 
               </P>
               
            </div>
        </div>
                @*Modal for Recommand to co-worker*@
                    <div class="modal fade" id="RecommendModel" tabindex="-1" aria-hidden="true" aria-labelledby="exampleModalLabel">
                      <div class="modal-dialog modal-dialog-centered" >
                        <div class="modal-content">
                          <div class="modal-header">
                            <h4 class="modal-title" id="exampleModalLabel">Select coworkers for recommendation </h4>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"> </button>
                          </div>
                          <div class="modal-body">
                              @foreach (var coworker in Model.Users)
                              {
                                <div  class="d-flex flex-row justify-content-between border-bottom mt-1 py-1">
                                     <div class="d-flex flex-row gap-2">
                                        <img src="~/Images/volunteer1.png" class="rounded-circle" width="40px" height="40px"/>
                                        <span>@coworker.FirstName @coworker.LastName </span>
                                    </div>
                                     <div id="RecommandationBtn">
                                         <button type="button"  class="btn btn-primary" id="@coworker.UserId" value="@Model.StoryId @ViewBag.UserDetails.UserId @coworker.UserId @coworker.Email">
                                             <img src="~/Images/user.png" class="rounded-circle" width="35px" height="35px"/>Recommanded</button>
                                    </div>
                                </div>
                              }
                          </div>
                          <div class="modal-footer">
                              <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
                          </div>
                        </div>
                      </div>
                    </div>
    </div>
    <hr class="hr mt-5" />

        <div class="container">
        
        <div class="privacy-policy mt-3 mb-3">
            <a asp-action="PrivacyPolicyPage" asp-controller="UserEditProfile" style="text-decoration:none;"> Privacy Policy</a>
        </div>
    </div>
     <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.3.js"
        integrity="sha256-nQLuAZGRRcILA+6dMBOvcRh5Pe310sBpanc6+QBmyVM=" crossorigin="anonymous"></script>
        <script src="~/js/story.js"></script>
    <script>

        function openNav() {
            document.getElementById("mySidebar1").style.width = "250px";
            document.getElementById("main1").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar1").style.width = "0";
            document.getElementById("main1").style.marginLeft = "0";
        }
        function openNav2() {
            document.getElementById("mySidebar2").style.width = "250px";
            document.getElementById("main2").style.marginLeft = "250px";
        }

        function closeNav2() {
            document.getElementById("mySidebar2").style.width = "0";
            document.getElementById("main2").style.marginLeft = "0";
        }


        function showView(viewName) {
            $('.all-view').addClass('d-none')

            if (viewName == 'grid') {
                $('#products').removeClass("d-none")
            }
            else if (viewName == "list") {
                $('#myListView').removeClass("d-none")
            }
        }

        function show(image_id) {
            console.log("run");

            document.getElementById('id12')
                .style.display = "none";
            document.getElementById('id1')
                .style.display = "none";
            document.getElementById('id2')
                .style.display = "none";
            document.getElementById('id3')
                .style.display = "none";
            document.getElementById('id4')
                .style.display = "none";
            document.getElementById('id5')
                .style.display = "none";
            document.getElementById('id6')
                .style.display = "none";
            document.getElementById(image_id)
                .style.display = "block";



        }
        let items = document.querySelectorAll('.carousel .carousel-item')

        items.forEach((el) => {
            const minPerSlide = 4
            let next = el.nextElementSibling
            for (var i = 1; i < minPerSlide; i++) {
                if (!next) {
                    next = items[0]
                }
                let cloneChild = next.cloneNode(true)
                el.appendChild(cloneChild.children[0])
                next = next.nextElementSibling
            }
        })
       
        


    //for recommanded to coworker
        $("#RecommandationBtn button").on('click', function () {
    console.log("click");
    var udetails = $(this).attr('value');
    var arr = udetails.split(" ");
    var Recommanded = {
        SId: arr[0],
        FromUid: arr[1],
        Uid: arr[2],
        Uemail: arr[3]
    };
    console.log(Recommanded);
    var url = "/StoryRelated/RecommandToCoWorker?Recommanded=" + JSON.stringify(Recommanded);

    $.ajax({
        url: url,
        success: function (data) {
            window.location.reload();
        },
    });
})
        //for displaying images in story carousal
        function displayImage(img) {
            var selectedImage = document.getElementById("selectedImage");
            var videoFrame = document.getElementById("video1");
            selectedImage.classList.remove("d-none");
            videoFrame.classList.add("d-none");

            selectedImage.src = img.src;
        }

        //for displaying VIDEO in story carousal
       function displayVideo(img) {
           
           var selectedImage = document.getElementById("selectedImage");
           var videoFrame = document.getElementById("video1");
            selectedImage.classList.add("d-none");
            videoFrame.classList.remove("d-none");
            videoFrame.classList.add("d-block");
            var videoUrl = $('#ivideo').data('url');
            console.log(videoUrl);
            
            videoFrame.src = videoUrl;
            console.log(selectedImage);
            console.log(videoFrame);
            
        }



        


        


    </script>

</body>
</html>