@using CI_Platform.Entities.Models.VM

@model StoryViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story listing page</title>
</head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/story_listing_page.css">
 <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block">
            <div class="container">
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="#">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu text-center">
                                <li class="mx-auto"><a asp-action="PrivacyPolicyPage" asp-controller="UserEditProfile" class="text-decoration-none text-dark"> Privacy Policy</a></li>
                                
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                               data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@ViewBag.UserDetails.Avatar" alt="" style="border-radius: 50%;" height="30px"
                                     width="30px">
                                <span>@ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</span>
                            </a>

                           
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                @if(@ViewBag.UserDetails.Role == "admin")
                                {
                                    <li><a class="dropdown-item" asp-action="AdminDashBoard" asp-controller="Admin">Dashboard</a></li>
                                }
                                <li><a class="dropdown-item" asp-action="UserEditProfilePage" asp-controller="UserEditProfile">My Account</a></li>
                                <li><a class="dropdown-item" asp-action="VolunteeringTimesheet" asp-controller="Timesheet">Volunteering Timesheet</a></li>
                                <li><a class="dropdown-item" asp-action="Logout" asp-controller="Authentication">Logout </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- ////////////////////////////////// -->
        <div class="first-nav d-md-none ">
            <div id="mySidebar1" class="sidebar d-inline">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">
                    Stories
                </a>

                <a href="#">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="#">Policy-1</a></li>
                            <li><a class="dropdown-item" href="#">Policy-2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else </a></li>
                        </ul>
                    </li>
                </a>
            </div>
            <div id="main1" class="d-flex justify-content-between m-2">
                <button class="openbtn " onclick="openNav()">☰ </button>
                <img src="~/images/user-img.png" class="rounded-pill  " height="40px" width="40px" alt="">
            </div>
        </div>
        <!-- //////////////////////////////// -->
       

    </div>

    
    </div>
    <div class="row container my-2  w-100 mx-auto">
        <div class="col-12 w-100 ">
            <div class="srch ">

                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>

                <form id="search-form" method="get" class="d-inline">
                    <input type="search" class="form-control rounded d-inline srch" id="search-input" name="query" placeholder="Search stories..." aria-label="Search" aria-describedby="search-addon">
                </form>
            </div>
        </div>
    </div>

    <!-- large-image -->
    <div class="img-large text-center d-flex">
        <div class="detail ">
            <p class="w-50 mx-auto text-light ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium commodi porro excepturi tempore libero animi velit enim assumenda, consectetur sint debitis culpa adipisci officiis consequatur.</p>
            <a type="button" class="btn btn-light sys-btn" asp-controller="StoryRelated" asp-action="Share_Your_Story_Page"><span>Share your story &nbsp; &nbsp;</span><img src="~/images/right-arrow.png" class="ra" alt=""></a>
        </div>

    </div>


    <!-- Story-listing -->
    <div class="container mt-5" id="stories-container">

        <div id="products" class="row view-group all-view">
            <!-- 1a -->
            @foreach (var item in Model.Stories)
            {
                <div class="item col-xs-4 col-lg-4">
                    <div class="thumbnail card">
                        <div class="img-event position-relative">

                            <img class="group list-group-image img-fluid w-100 imghv"
                             src="@item.StoryMedia.FirstOrDefault(m=> m.StoryId == @item.StoryId && m.Type == ".jpg" ).Path" alt="" />
                            <div class="bottom-center justify-content-center missiontheme">

                                @item.Mission.Theme.Title

                            </div>
                            <div class="middle">
                                <div class="text">
                                    <a type="button" class="btn btn-light vd-btn" asp-action="Story_detail_page" asp-controller="StoryRelated" asp-route-id="@item.StoryId"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></a>
                                </div>
                            </div>
                        </div>
                        <div class="caption card-body">
                            <h4 class="group card-title inner list-group-item-heading">
                                @item.Title
                            </h4>
                            <p class="group inner list-group-item-text">
                                @Html.Raw(item.Description)
                            </p>
                            <div class="row">
                                <div class="profile-name ">
                                    <img src="@item.User.Avatar" class="rounded-pill prof-img" alt="">
                                    <span>@item.User.FirstName @item.User.LastName </span>
                                </div>
                                
                            </div>

                        </div>
                    </div>
                </div>



            }

        </div>

           
    </div>

    <!-- Pagenation  -->
         <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center mt-3">
            <li class="page-item @(Model.CurrentPage == 1 ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Story_Listing_Page", new { page = Model.CurrentPage - 1 })" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            @for (int i = 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                    <a class="page-link" href="@Url.Action("Story_Listing_Page", new { page = i })">@i</a>
                </li>
            }
            <li class="page-item @(Model.CurrentPage == Model.TotalPages ? "disabled" : "")">
                <a class="page-link" href="@Url.Action("Story_Listing_Page", new { page = Model.CurrentPage + 1 })" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        </ul>
    </nav>


    <div class="content mt-5 text-center hidden" id="NoMissionFound">
        <div class="head w-100 text-center">
            <h5>No Story found</h5>
        </div>
        <a class="btn btnlist  mt-3 " asp-action="Story_Listing_Page" asp-controller="StoryRelated">
            Go to Homepage <img src="~/images/right-arrow.png"
                                alt="">
        </a>

    </div>
    <!-- Footer (Privacy Policy) -->
    <div class="container">

        <hr>
        <div class="privacy-policy mt-3 mb-3">
            <a asp-action="PrivacyPolicyPage" asp-controller="UserEditProfile"> Privacy Policy</a>
        </div>
    </div>
    <script src="https://cdn.ckeditor.com/4.21.0/basic/ckeditor.js"></script>
    <script src="~/js/story_listing.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        function openNav() {
            document.getElementById("mySidebar1").style.width = "250px";
            document.getElementById("main1").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar1").style.width = "0";
            document.getElementById("main1").style.marginLeft = "0";
        }
        function openNav2() {
            document.getElementById("mySidebar2").style.width = "250px";
            document.getElementById("main2").style.marginLeft = "250px";
        }

        function closeNav2() {
            document.getElementById("mySidebar2").style.width = "0";
            document.getElementById("main2").style.marginLeft = "0";
        }


        function showView(viewName) {
            $('.all-view').addClass('d-none')

            if (viewName == 'grid') {
                $('#products').removeClass("d-none")
            }
            else if (viewName == "list") {
                $('#myListView').removeClass("d-none")
            }
        }
        CKEDITOR.replace('editor1', {
      height: 200,
      baseFloatZIndex: 10005,
      removeButtons: 'PasteFromWord,Cut,Copy,Paste,PasteText,Undo,Redo,Link,Unlink,Scayt,HorizontalRule,SpecialChar,NumberedList,BulletedList,Outdent,Indent,Blockquote,Anchor,Image,Table,Maximize,Source'
    });
    </script>

</body>

</html>

