@using CI_Platform.Entities.Models.VM

@model StoryViewModel;

@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Story listing page</title>
</head>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" href="~/css/story_listing_page.css">

<body>

    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block">
            <div class="container">
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                        <li class="nav-item ">
                            <a class="nav-link text-dark" href="#">Stories</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-dark" href="#" role="button"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                Policy
                            </a>
                            <ul class="dropdown-menu ">
                                <li><a class="dropdown-item " href="#">Policy-1</a></li>
                                <li><a class="dropdown-item" href="#">Policy-2</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </li>

                    </ul>
                    <form class="d-flex" role="search">

                        <div class="dropdown">
                            <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="@ViewBag.UserDetails.Avatar" alt="" style="border-radius: 50%;" height="30px"
                                    width="30px">
                                <span>@ViewBag.UserDetails.FirstName @ViewBag.UserDetails.LastName</span>
                            </a>

                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="#">Action</a></li>
                                <li><a class="dropdown-item" href="#">Another action</a></li>
                                <li><a class="dropdown-item" href="#">Something else </a></li>
                            </ul>
                        </div>
                    </form>
                </div>
            </div>
        </nav>

        <!-- ////////////////////////////////// -->
        <div class="first-nav d-md-none ">
            <div id="mySidebar1" class="sidebar d-inline">
                <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">×</a>
                <a href="#">
                    Stories
                </a>

                <a href="#">
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Policy
                        </a>
                        <ul class="dropdown-menu ">
                            <li><a class="dropdown-item " href="#">Policy-1</a></li>
                            <li><a class="dropdown-item" href="#">Policy-2</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else </a></li>
                        </ul>
                    </li>
                </a>
            </div>
            <div id="main1" class="d-flex justify-content-between m-2">
                <button class="openbtn " onclick="openNav()">☰ </button>
                <img src="~/images/user-img.png" class="rounded-pill  " height="40px" width="40px" alt="">
            </div>
        </div>
        <!-- //////////////////////////////// -->
@*        <div class="row mt-4 bdr container-fluid  ps-0 pe-0  mb-2 mx-auto " style="width: 95%;">
            <div class="srchbar ">
                <div class="input-group rounded bd d-none d-md-flex  ">

                    <div class="col-12 col-lg-6 col-md-6 be ">
                        <div class="srch ">

                            <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>

                            <input type="search" class="form-control rounded d-inline srch "
                                placeholder="Search mission..." aria-label="Search" aria-describedby="search-addon" />
                        </div>
                    </div>

                    <div class="col-12 col-lg-6 col-md-6 ">
                        <div class="row  ">
                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                                <a class="btn b-filter dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Country&nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Country-1</a></li>
                                    <li><a class="dropdown-item" href="#">Country-2</a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </div>

                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 be text-center">
                                <a class="btn b-filter dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>City&nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu " aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">City-1</a></li>
                                    <li><a class="dropdown-item" href="#">City-2 </a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </div>

                            <div class="dropdown d-inline col-lg-3  col-md-3 col-6 be text-center">
                                <a class="btn b-filter dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                    data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Theme &nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Theme-1</a></li>
                                    <li><a class="dropdown-item" href="#">Theme-2 </a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </div>

                            <div class="dropdown d-inline col-lg-3 col-md-3 col-6 text-center">
                                <a class="btn b-filter dropdown-toggle p-0 " href="#" role="button"
                                    id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
                                    <span>Skills &nbsp; &nbsp;</span>
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                    <li><a class="dropdown-item" href="#">Skill-1</a></li>
                                    <li><a class="dropdown-item" href="#">Skills-2</a></li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ///////////////////// -->
            <div class="second-nav 	d-md-none w-100">
                <div class="mob-sidebar mx-auto">
                    <div id="mySidebar2" class="sidebar d-inline">
                        <a href="javascript:void(0)" class="closebtn" onclick="closeNav2()">×</a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Country
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item " href="#">Country-1</a></li>
                                    <li><a class="dropdown-item" href="#">Country-2</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </li>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    City
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item " href="#">City-1</a></li>
                                    <li><a class="dropdown-item" href="#">City-2</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </li>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Theme
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item " href="#">Theme-1</a></li>
                                    <li><a class="dropdown-item" href="#">Theme-2</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </li>
                        </a>
                        <a href="#">
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                                    aria-expanded="false">
                                    Skills
                                </a>
                                <ul class="dropdown-menu ">
                                    <li><a class="dropdown-item " href="#">Skills-1</a></li>
                                    <li><a class="dropdown-item" href="#">Skills-2</a></li>
                                    <li>
                                        <hr class="dropdown-divider">
                                    </li>
                                    <li><a class="dropdown-item" href="#">Something else </a></li>
                                </ul>
                            </li>
                        </a>
                    </div>

                    <div id="main2" class="d-flex justify-content-end m-2 w-100 ">
                        <input type="search" class="form-control rounded d-inline srch " placeholder="Search mission..."
                            aria-label="Search" aria-describedby="search-addon" />

                        <button class="openbtn bg-light" onclick="openNav2()"><img src="~/images/filter.png" alt="">
                        </button>

                    </div>
                </div>
            </div>
            <!-- ///////////////// -->

        </div>*@

    </div>

    <!-- chips -->
@*    <div class="container mb-3">
        <div class="all-filters d-flex align-items-center flex-wrap mt-4 mgl ">
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1 flex-nowrap">
                <p class="filter">Tree Plantation</p>
                <i class="bi bi-x"></i>
            </div>
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Canada</p>
                <i class="bi bi-x"></i>
            </div>
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Toronto</p>
                <i class="bi bi-x"></i>
            </div>
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Montreal</p>
                <i class="bi bi-x"></i>
            </div>
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Environment</p>
                <i class="bi bi-x"></i>
            </div>
            <div class="filter-wrapper px-3 rounded-pill py-1 d-flex align-items-center m-1">
                <p class="filter">Nuitrition</p>
                <i class="bi bi-x"></i>
            </div>
        </div>
    </div>*@

    <!-- large-image -->
    <div class="img-large text-center d-flex">
        <div class="detail ">
            <p class="w-50 mx-auto text-light ">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex accusantium commodi porro excepturi tempore libero animi velit enim assumenda, consectetur sint debitis culpa adipisci officiis consequatur.</p> 
            <button type="button" class="btn btn-light sys-btn"><span>Share your story &nbsp; &nbsp;</span><img src="~/images/right-arrow.png" class="ra" alt=""></button>
        </div>
    
    </div>


    <!-- Story-listing -->
    <div class="container mt-5">
        <div id="products" class="row view-group all-view">
            <!-- 1a -->
            @foreach(var item in Model.Stories)
            {
               <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        @*<img class="group list-group-image img-fluid W-100 imghv"
                            src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />*@
                            <img class="group list-group-image img-fluid w-100 imghv"
                            src="@item.StoryMedia.FirstOrDefault(m=> m.StoryId == @item.StoryId).Path" alt="" />
                        <div class="bottom-center justify-content-center">
                            @Model.MissionThemes.FirstOrDefault(m => m.MissionThemeId == @item.Mission.ThemeId).Title
                          
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                         @item.Title   </h4>
                        <p class="group inner list-group-item-text">
                           @item.Description</p>
                        <div class="profile-name">
                            <img src="@item.User.Avatar" class="rounded-pill prof-img" alt="">
                            <span>@item.User.FirstName @item.User.LastName </span>
                        </div>
                    </div>
                </div>
            </div> 
            }
            
@*            <!-- 2a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv" width="100%"
                            src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold-2.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Children
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Overhead in Product: Good Products, the End of Failure.</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore...</p>
                        <div class="profile-name pn">
                            <img src="~/images/volunteer2.png" class="rounded-pill prof-img" alt="">
                            <span>Charles Vigue</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 3a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv" width="100%"
                            src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Customer Experience
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            10 User and Customer Engagement Statergies for 2019</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore...</p>
                            <div class="profile-name">
                                <img src="~/images/volunteer7.png" class="rounded-pill prof-img" alt="">
                                <span>Travis Steen</span>
                            </div>
                    </div>
                </div>
            </div>
            <!-- 4a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv"
                            src="~/images/CSR-initiative-stands-for-Coffee--and-Farmer-Equity.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Customer Experience
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            10 User and Customer Engagement Statergies for 2019</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore...</p>
                        <div class="profile-name">
                                <img src="~/images/volunteer1.png" class="rounded-pill prof-img" alt="">
                                <span>Andrew Jhonson</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 5a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv"
                            src="~/images/Animal-welfare-&-save-birds-campaign.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Animals
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Overhead in Product: Good Products, the End of Failure. </h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore...</p>
                        <div class="profile-name pn">
                                <img src="~/images/volunteer2.png" class="rounded-pill prof-img" alt="">
                                <span>Charles Vigue</span>
                        </div>    
                    </div>
                </div>
            </div>
            <!-- 6a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv"
                            src="~/images/Plantation-and-Afforestation-programme.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Customer Experience
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            10 User and Customer Engagement Statergies for 2019</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
                            incididunt ut labore...
                        </p>
                        <div class="profile-name">
                            <img src="~/images/volunteer7.png" class="rounded-pill prof-img" alt="">
                            <span>Travis Steen</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 7a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid W-100 imghv"
                            src="~/images/Grow-Trees-On-the-path-to-environment-sustainability.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Customer Experience
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img  class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            10 User and Customer Engagement Statergies for 2019</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore... </p>
                            <div class="profile-name">
                                <img src="~/images/volunteer1.png" class="rounded-pill prof-img" alt="">
                                <span>Andrew Jhonson</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- 8a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv" width="100%"
                            src="~/images/Education-Supplies-for-Every--Pair-of-Shoes-Sold.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Nutrition
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            Overhead in Product: Good Products, the End of Failure.</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                            <div class="profile-name pn">
                                <img src="~/images/volunteer2.png" class="rounded-pill prof-img" alt="">
                                <span>Charles Vigue</span>
                        </div>   
                    </div>
                </div>
            </div>
            <!-- 9a -->
            <div class="item col-xs-4 col-lg-4">
                <div class="thumbnail card">
                    <div class="img-event position-relative">
                        <img class="group list-group-image img-fluid imghv" width="100%"
                            src="~/images/Nourish-the-Children-in--African-country.png" alt="" />
                        <div class="bottom-center justify-content-center">
                            Customer Experience
                        </div>
                        <div class="middle">
                            <div class="text">
                                <button type="button" class="btn btn-light vd-btn"> <span>View Details &nbsp;</span> <img class="ra" src="~/images/right-arrow.png" alt=""></button>
                            </div>
                        </div>
                    </div>
                    <div class="caption card-body">
                        <h4 class="group card-title inner list-group-item-heading">
                            10 User and Customer Engagement Statergies for 2019</h4>
                        <p class="group inner list-group-item-text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                            labore...</p>
                        <div class="profile-name">
                                <img src="~/images/volunteer7.png" class="rounded-pill prof-img" alt="">
                                <span>Travis Steen</span>
                            </div>
                    </div>
                </div>
            </div>
*@





        </div>
    </div>

    <!-- Pagenation  -->
    <nav aria-label="Page navigation example justify-content-center">
        <ul class="pagination mt-3">
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#" aria-label="Next">
                    <span class="sr-only">Next</span>
                    <span aria-hidden="true">&raquo;</span>

                </a>
            </li>
        </ul>
    </nav>

    <!-- Footer (Privacy Policy) -->
    <div class="container">
        <hr>
        <div class="privacy-policy mt-3 mb-3">
            <a href="#"> Privacy Policy</a>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function openNav() {
            document.getElementById("mySidebar1").style.width = "250px";
            document.getElementById("main1").style.marginLeft = "250px";
        }

        function closeNav() {
            document.getElementById("mySidebar1").style.width = "0";
            document.getElementById("main1").style.marginLeft = "0";
        }
        function openNav2() {
            document.getElementById("mySidebar2").style.width = "250px";
            document.getElementById("main2").style.marginLeft = "250px";
        }

        function closeNav2() {
            document.getElementById("mySidebar2").style.width = "0";
            document.getElementById("main2").style.marginLeft = "0";
        }


        function showView(viewName) {
            $('.all-view').addClass('d-none')

            if (viewName == 'grid') {
                $('#products').removeClass("d-none")
            }
            else if (viewName == "list") {
                $('#myListView').removeClass("d-none")
            }
        }
    </script>

</body>

</html>

