@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@using CI_Platform.Entities.Models.VM
@model AdminViewModel;

@foreach (var item in Model.cmsPages.Where(c=>c.DeletedAt==null))
{
    <tr class="border ">
        <td>@item.Title</td>
        @if (@item.Status == 1)
        {
            <td class="greentext ">Active</td>
        }
        else
        {
            <td class="redtext ">Inactive</td>
        }

        <td >
            <button class="border-0 bg-white text-dark editCMS" data-cms-id="@item.CmsPageId" onclick="editCmms('@item.Title','@item.Status','@item.CmsPageId','@item.Description', '@item.Slug' )"><i class="bi bi-pencil-square "></i></button>
            <button class="border-0 bg-white " id="DeleteBtnForCmsPage" data-cms-id="@item.CmsPageId"><i class="bi bi-trash "></i></button>
        </td>
    </tr>
}