@using CI_Platform.Entities.Models.VM
@model AdminViewModel;
 @foreach (var item in Model.MissionThemes)
                                    {
                                        <tr class="border">
                                            <td>@item.Title</td>
                                            @if (@item.Status == 1)
                                            {
                                                <td class="greentext">Active</td>
                                            }
                                            else
                                            {
                                                <td class="redtext">Inactive</td>
                                            }

                                            <td class="text-center">
                                                <button class="border-0 bg-white editMissionThemeModal" type="button" id="editMissionTheme" data-missionTheme-id="@item.MissionThemeId" data-bs-toggle="modal" data-bs-target="editMissionThemeModal-@item.MissionThemeId"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                            <!-- Modal -->
                                        <div class="modal fade" id="editMissionThemeModal-@item.MissionThemeId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form class="row g-3 needs-validation addthemevalidation" novalidate>
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit theme</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <div class="mb-3">
                                                                    <label for="MissionThemeTitle" class="form-label">Mission Theme</label>
                                                                    <input type="text" class="form-control" id="MissionThemeTitle-@item.MissionThemeId" placeholder="Enter mission theme here" value="@item.Title" required>
                                                                    <div class="invalid-feedback">
                                                                        Please enter mission theme name.
                                                                    </div>
                                                                </div>
                                                                <fieldset class="row mb-3">
                                                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                                                    <div class="col-sm-10">
                                                                        <div class="form-check">

                                                                            <input class="form-check-input" type="radio" name="gridRadios-@item.MissionThemeId" id="ActiveRadio-@item.MissionThemeId" value="1" data-status="1" required @if (@item.Status == 1) {
                                                                        <text>checked</text>
 }>

                                                                            <label class="form-check-label" for="ActiveRadio-@item.MissionThemeId">
                                                                                Active
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">

                                                                            <input class="form-check-input" type="radio" name="gridRadios-@item.MissionThemeId" id="InactiveRadio-@item.MissionThemeId" value="0" data-status="0" required @if (@item.Status == 0) {
                                                                        <text>checked</text>
 }>

                                                                            <label class="form-check-label" for="InactiveRadio-@item.MissionThemeId">
                                                                                Inactive
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <div class="invalid-feedback">
                                                                    Please select an option .
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary " id="EditablethemeBtn" data-missionTheme-id="@item.MissionThemeId">Save Theme</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                    </tr>

                                    }