@using CI_Platform.Entities.Models.VM
@model AdminViewModel;
@foreach (var item in Model.missionSkills.Where(s=>s.DeletedAt==null))
                                    {
                                        <tr class="border">
                                            <td>@item.SkillName</td>
                                            @if (@item.Status == 1)
                                            {
                                                <td class="greentext">Active</td>
                                            }
                                             else
                                            {
                                                <td class="redtext">Inactive</td>
                                            }
                                            <td class="text-center">
                                                <button class="border-0 bg-white editMissionSkillModal"  data-skill-id="@item.SkillId" onclick="OpenEditSkillModal('@item.SkillName','@item.Status','@item.SkillId')"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white deleteMissionSkill" mission-skill-id="@item.SkillId"><i class="bi bi-trash  "></i></button>
                                            </td>
                                             
                                        </tr>
                                    }
