@using CI_Platform.Entities.Models.VM
@model AdminViewModel;
@foreach (var item in Model.Missions.Where(m=>m.DeletedAt==null))
    {
    <tr class="border">
    <td>@item.Title</td>
    <td>@item.MissionType</td>
    <td>@item.StartDate</td>
    <td>@item.EndDate</td>
    <td>
    <button class="border-0 bg-white EditMissionDetailBtn" id="EditMissionDetailBtn" data-mission-id="@item.MissionId" ><i class="bi bi-pencil-square "></i></button>


    <button class="border-0 bg-white TrashMissionDetail" id="DeleteBtnForMission" data-mission-id="@item.MissionId"><i class="bi bi-trash  "></i></button>
    </td>
    </tr>
    }
  

