@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
@using CI_Platform.Entities.Models.VM;
@model AdminViewModel;

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.4/font/bootstrap-icons.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
    <script src="https://cdn.ckeditor.com/4.21.0/standard/ckeditor.js"></script>
    <style>
        .orangeClr {
            background-color: #F88634;
            height: 100vh;
        }

        .nav-link:hover {
            background-color: white;
            color: #F88634;
        }

        .txtwhite {
            color: white;
        }

        .nav-pills .nav-link.active,
        .nav-pills .show > .nav-link {
            color: #F88634;
            background-color: white;
        }

        .mtop {
            margin-top: -3px;
        }

        .greentext {
            color: #14C506;
        }

        .redtext{
            color:red;
        }

        .addUserBtn, .addthemeBtn, .addSkillBtn {
            border: 2px solid #F88634;
            padding: 5px 10px;
            border-radius: 20px;
            color: #F88634;
        }

        .icon-green {
            color: #14C506;
        }

        .icon-red {
            color: red;
        }
    </style>

</head>

<body>
    <div class="container-fluid">
        <div class="row">
            <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- sidebar -->
            <div class="col-md-12 col-lg-3 col-12 col-xs-12 col-xl-2">

                <!--  -->
                <button class="btn btn-primary d-md-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                    Menu
                </button>
                <div class="offcanvas offcanvas-start " tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
                    <div class="offcanvas-header">
                        <h5 class="offcanvas-title" id="offcanvasExampleLabel">NAVIGATION</h5>
                        <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                    </div>
                    <div class="offcanvas-body">
                        <div class="sidebar-container">
                            <div class="nav d-flex flex-column nav-pills me-3 orangeClr" id="v-pills-tab" role="tablist"
                                 aria-orientation="vertical">
                                <h6 class="text-start ms- text-light ms-3 my-4">NAVIGATION</h6>
                                <button class="nav-link txtwhite active d-flex w-100 mx-2 my-2" id="v-pills-User-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab"
                                        aria-controls="v-pills-home" aria-selected="true">
                                    <i class="bi bi-person me-3"></i>User
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-CMSPage-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab"
                                        aria-controls="v-pills-profile" aria-selected="false">
                                    <i class="bi bi-file-earmark-text-fill me-3"></i>CMS Page
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Mission-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab"
                                        aria-controls="v-pills-messages" aria-selected="false">
                                    <i class="bi bi-bullseye me-3"></i>Mission
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionTheme-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    <i class="bi bi-layout-wtf me-3"></i>Mission Theme
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionSkills-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    <i class="bi bi-tools me-3"></i>Mission
                                    Skills
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionApplication-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    <i class="bi bi-folder-minus me-3"></i>Mission Application
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Story-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    <i class="bi bi-bookmark-star-fill me-3"></i>Story
                                </button>
                                <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-BannerManagement-tab"
                                        data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab"
                                        aria-controls="v-pills-settings" aria-selected="false">
                                    Banner Management
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
                <!--  -->
                <!-- normal sidebar -->
                <div class="sidebar-container d-none d-lg-block ">
                    <div class="nav d-flex flex-column nav-pills me-3 orangeClr" id="v-pills-tab" role="tablist"
                         aria-orientation="vertical">
                        <h6 class="text-start ms- text-light ms-3 my-4">NAVIGATION</h6>
                        <button class="nav-link txtwhite  d-flex w-100 mx-2 my-2" id="v-pills-User-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-User" type="button" role="tab"
                                aria-controls="v-pills-home" aria-selected="false">
                            <i class="bi bi-person me-3"></i>User
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-CMSPage-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-CMSPage" type="button" role="tab"
                                aria-controls="v-pills-profile" aria-selected="false">
                            <i class="bi bi-file-earmark-text-fill me-3"></i>CMS Page
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Mission-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-Mission" type="button" role="tab"
                                aria-controls="v-pills-messages" aria-selected="false">
                            <i class="bi bi-bullseye me-3"></i>Mission
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionTheme-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-MissionTheme" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">
                            <i class="bi bi-layout-wtf me-3"></i>Mission Theme
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionSkills-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-MissionSkills" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">
                            <i class="bi bi-tools me-3"></i>Mission
                            Skills
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-MissionApplication-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-MissionApplication" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">
                            <i class="bi bi-folder-minus me-3"></i>Mission Application
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-Story-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-Story" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">
                            <i class="bi bi-bookmark-star-fill me-3"></i>Story
                        </button>
                        <button class="nav-link txtwhite d-flex w-100 mx-2 my-2" id="v-pills-BannerManagement-tab"
                                data-bs-toggle="pill" data-bs-target="#v-pills-BannerManagement" type="button" role="tab"
                                aria-controls="v-pills-settings" aria-selected="false">
                            Banner Management
                        </button>
                    </div>
                </div>
                <!-- normal sidebar -->

            </div>
            <!-- sidebar -->
            <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
            <!-- tab -->
            <div class="col-md-12 col-lg-9 col-xs-12 col-12 col-xl-10">
                <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                <!-- navbar-top -->
                <nav class="navbar navbar-expand-lg navbar-light d-none d-md-block shadow p-3 mb-5 bg-white rounded">
                    <div class="container">
                        <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mrg-start">

                                <li class="nav-item currentTime">
                                    @*Thursday, November 3, 2022, 10:06 AM*@
                                    @*@DateTime.Now.ToString("dddd, MMMM d, yyyy, h:mm tt")*@
                                    <span id="current-time"></span>


                                </li>
                            </ul>
                            <form class="d-flex" role="search">

                                <div class="dropdown">
                                    <a class="btn  dropdown-toggle p-0" href="#" role="button" id="dropdownMenuLink"
                                       data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/images/user-img.png" alt="" style="border-radius: 50%;" height="30px"
                                             width="30px">
                                        <span>Nirav Patel</span>
                                    </a>

                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                        <li><a class="dropdown-item" href="#">Action</a></li>
                                        <li><a class="dropdown-item" href="#">Another action</a></li>
                                        <li><a class="dropdown-item" href="#">Something else </a></li>
                                    </ul>
                                </div>
                            </form>
                        </div>
                    </div>
                </nav>
                <!-- navbar-top -->
                <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                <!-- for displaying tabs -->
                <div class="tab-content col-md-10 col-8 w-100 me-5" id="v-pills-tabContent">
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- UserTAB -->
                    <div class="tab-pane fade   " id="v-pills-User" role="tabpanel" aria-labelledby="v-pills-home-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">User</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addUserBtn "><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                        </div>


                        <!-- User table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">First Name</th>
                                        <th scope="col">Last Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Employee Id</th>
                                        <th scope="col">Department</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.users)
                                    {
                                        <tr class="border">
                                            <td>@item.FirstName</td>
                                            <td>@item.LastName</td>
                                            <td>@item.Email</td>
                                            <td>@item.EmployeeId</td>
                                            <td>@item.Department</td>
                                            @if (@item.Status == 1)
                                            {
                                                <td class="greentext">
                                                    Active
                                                </td>
                                            }
                                            <td>
                                                <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- User table -->

                    </div>
                    <!-- UserTAB -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- CMS-Page Tab -->
                    <div class="tab-pane fade " id="v-pills-CMSPage" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">CMS Page</span>
                        <hr class="w-100 mtop">
                        <div class="cmscontent">
                            <div class="d-flex w-100 my-4">
                                <!-- searchbar -->
                                <div class=" srch  w-25">

                                    <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                    <form id="search-form" method="get" class="d-inline">
                                        <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                               name="query" placeholder="Search." aria-label="Search"
                                               aria-describedby="search-addon">
                                    </form>

                                </div>
                                <div class="ms-auto me-5 mt-4">
                                    <button class="btn addUserBtn" id="addCMS"><span>Add</span><i class="bi bi-plus"></i></button>
                                </div>
                            </div>

                            <!-- CMS table -->
                            <div class="table-responsive">
                                <table class="table table-borderless ">
                                    <thead>
                                        <tr class="bg-light">
                                            <th scope="col">Title</th>
                                            <th scope="col">Status</th>
                                            <th scope="col">Action</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="border">
                                            <td>Various versions have evolved over the years Many desktop publishing packages and web page editors</td>
                                            <td>Active</td>
                                            <td>
                                                <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <!-- CMS table -->
                        </div>


                    </div>
                    <!-- CMS-Page Tab -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- mission page -->
                    <div class="tab-pane fade " id="v-pills-Mission" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addUserBtn "><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                            <!-- ---- -->
                        </div>
                        <!-- Mission table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Mission Type</th>
                                        <th scope="col">Start Date</th>
                                        <th scope="col">End Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Missions)
                                    {
                                        <tr class="border">
                                            <td>@item.Title</td>
                                            <td>@item.MissionType</td>
                                            <td>@item.StartDate</td>
                                            <td>@item.EndDate</td>
                                            <td>
                                                <button class="border-0 bg-white"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- Mission table -->
                    </div>
                    <!-- mission page -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- mission theme -->
                    <div class="tab-pane fade " id="v-pills-MissionTheme" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission Theme</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addthemeBtn" data-bs-toggle="modal" data-bs-target="#AddMissionThemeModal"><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>

                            @*modal for add missiontheme*@
                            <!-- Modal -->
                            <div class="modal fade" id="AddMissionThemeModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form class="row g-3 needs-validation addthemevalidation" novalidate>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add theme</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="mb-3">
                                                    <label for="MissionThemeTitle" class="form-label">Mission Theme</label>
                                                    <input type="text" class="form-control" id="MissionThemeTitle" placeholder="Enter mission theme here" required>
                                                    <div class="invalid-feedback">
                                                        Please enter mission theme name.
                                                    </div>
                                                </div>
                                                <fieldset class="row mb-3">
                                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                                    <div class="col-sm-10">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="gridRadios" id="ActiveRadio" value="1" required>
                                                            <label class="form-check-label" for="ActiveRadio">
                                                                Active
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="gridRadios" id="InactiveRadio" value="0" required>
                                                            <label class="form-check-label" for="InactiveRadio">
                                                                Inactive
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="invalid-feedback">
                                                    Please select an option .
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary " id="addthemeBtn">Add Theme</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                        </div>

                        <!-- mission theme table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MissionThemes)
                                    {
                                        <tr class="border">
                                            <td>@item.Title</td>
                                            @if (@item.Status == 1)
                                            {
                                                <td class="greentext">Active</td>
                                            }
                                            else
                                            {
                                                <td class="redtext">Inactive</td>
                                            }

                                            <td class="text-center">
                                                <button class="border-0 bg-white editMissionThemeModal" type="button" id="editMissionTheme" data-missionTheme-id="@item.MissionThemeId" data-bs-toggle="modal" data-bs-target="editMissionThemeModal-@item.MissionThemeId"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                            <!-- Modal -->
                                        <div class="modal fade" id="editMissionThemeModal-@item.MissionThemeId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form class="row g-3 needs-validation addthemevalidation" novalidate>
                                                            <div class="modal-header">
                                                                <h5 class="modal-title">Edit theme</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <div class="mb-3">
                                                                    <label for="MissionThemeTitle" class="form-label">Mission Theme</label>
                                                                    <input type="text" class="form-control" id="MissionThemeTitle-@item.MissionThemeId" placeholder="Enter mission theme here" value="@item.Title" required>
                                                                    <div class="invalid-feedback">
                                                                        Please enter mission theme name.
                                                                    </div>
                                                                </div>
                                                                <fieldset class="row mb-3">
                                                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                                                    <div class="col-sm-10">
                                                                        <div class="form-check">
                                                                            
                                                                        <input class="form-check-input" type="radio" name="gridRadios-@item.MissionThemeId" id="ActiveRadio-@item.MissionThemeId" value="1" data-status="1" required @if (@item.Status == 1) { <text>checked</text> }>

                                                                            <label class="form-check-label" for="ActiveRadio-@item.MissionThemeId">
                                                                                Active
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            
                                                                        <input class="form-check-input" type="radio" name="gridRadios-@item.MissionThemeId" id="InactiveRadio-@item.MissionThemeId" value="0" data-status="0" required @if (@item.Status == 0) { <text>checked</text> }>

                                                                            <label class="form-check-label" for="InactiveRadio-@item.MissionThemeId">
                                                                                Inactive
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <div class="invalid-feedback">
                                                                    Please select an option .
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary " id="EditablethemeBtn" data-missionTheme-id="@item.MissionThemeId" >Save Theme</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                    </tr>

                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- mission theme table -->
                    </div>
                    <!-- mission theme -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- mission skill -->
                    <div class="tab-pane fade " id="v-pills-MissionSkills" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission Skills</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                            <div class="ms-auto me-5 mt-4">
                                <button class="btn addSkillBtn" data-bs-toggle="modal" data-bs-target="#AddSkillModal"><span>Add</span><i class="bi bi-plus"></i></button>
                            </div>
                            @*modal for add missionskill*@
                            <!-- Modal -->
                            <div class="modal fade" id="AddSkillModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog modal-lg">
                                    <div class="modal-content">
                                        <form class="row g-3 needs-validation addskillvalidation" novalidate>
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Skill</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <div class="mb-3">
                                                    <label for="MissionSkillTitle" class="form-label">Mission Skill</label>
                                                    <input type="text" class="form-control" id="MissionSkillTitle" placeholder="Enter skill name here" required>
                                                    <div class="invalid-feedback">
                                                        Please enter the name of mission skill.
                                                    </div>
                                                </div>
                                                <fieldset class="row mb-3">
                                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                                    <div class="col-sm-10">
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="gridRadios2" id="ActiveSkillRadio" value="1" required>
                                                            <label class="form-check-label" for="ActiveSkillRadio">
                                                                Active
                                                            </label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input class="form-check-input" type="radio" name="gridRadios2" id="InactiveSkillRadio" value="0" required>
                                                            <label class="form-check-label" for="InactiveSkillRadio">
                                                                Inactive
                                                            </label>
                                                        </div>
                                                    </div>
                                                </fieldset>
                                                <div class="invalid-feedback">
                                                    Please select an option .
                                                </div>

                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-primary " id="addSkillBtn">Add Skill</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- Modal -->
                        </div>

                        <!-- Mission skill table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Title</th>
                                        <th scope="col">Status</th>
                                        <th scope="col" class="text-center">Action</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.missionSkills)
                                    {
                                        <tr class="border">
                                            <td>@item.SkillName</td>
                                            @if (@item.Status == 1)
                                            {
                                                <td class="greentext">Active</td>
                                            }
                                             else
                                            {
                                                <td class="redtext">Inactive</td>
                                            }
                                            <td class="text-center">
                                                <button class="border-0 bg-white editMissionSkillModal"  data-skill-id="@item.SkillId" data-bs-toggle="modal" data-bs-target="editMissionSkillModal-@item.SkillId"><i class="bi bi-pencil-square "></i></button>
                                                <button class="border-0 bg-white"><i class="bi bi-trash  "></i></button>
                                            </td>
                                              <!-- Modal -->
                                            <div class="modal fade " id="editMissionSkillModal-@item.SkillId" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog modal-lg">
                                                    <div class="modal-content">
                                                        <form class="row g-3 needs-validation addskillvalidation" novalidate>
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="exampleModalLabel">Edit Skill</h5>
                                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                                            </div>
                                                            <div class="modal-body">

                                                                <div class="mb-3">
                                                                    <label for="MissionSkillTitle-@item.SkillId" class="form-label">Mission Skill</label>
                                                                    <input type="text" class="form-control" id="MissionSkillTitle-@item.SkillId" placeholder="Enter skill name here" value="@item.SkillName" required>
                                                                    <div class="invalid-feedback">
                                                                        Please enter the name of mission skill.
                                                                    </div>
                                                                </div>
                                                                <fieldset class="row mb-3">
                                                                    <legend class="col-form-label col-sm-2 pt-0">Status</legend>
                                                                    <div class="col-sm-10">
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio" name="gridRadios2-@item.SkillId" id="ActiveSkillRadio-@item.SkillId" value="1" data-status="1" required @if (@item.Status == 1) { <text>checked</text> }>
                                                                            <label class="form-check-label" for="ActiveSkillRadio-@item.SkillId">
                                                                                Active
                                                                            </label>
                                                                        </div>
                                                                        <div class="form-check">
                                                                            <input class="form-check-input" type="radio" name="gridRadios2-@item.SkillId" id="InactiveSkillRadio-@item.SkillId" value="0" data-status="0"  required @if (@item.Status == 0) { <text>checked</text> }>
                                                                            <label class="form-check-label" for="InactiveSkillRadio-@item.SkillId">
                                                                                Inactive
                                                                            </label>
                                                                        </div>
                                                                    </div>
                                                                </fieldset>
                                                                <div class="invalid-feedback">
                                                                    Please select an option .
                                                                </div>

                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                                                <button type="button" class="btn btn-primary " data-skill-id="@item.SkillId"  id="EditSkillBtn" >Edit Skill</button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                            <!-- Modal -->
                                        </tr>
                                    }



                                </tbody>
                            </table>
                        </div>
                        <!--Mission skill table -->
                    </div>
                    <!-- mission skill -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- Mission Application Tab -->
                    <div class="tab-pane fade " id="v-pills-MissionApplication" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Mission Application</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search "><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                        </div>
                        <!-- Mission Application table -->
                        <div class="table-responsive">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Mission Id</th>
                                        <th scope="col">User Id</th>
                                        <th scope="col">User Name</th>
                                        <th scope="col">Application Date</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.MissionApplications)
                                    {
                                        <tr class="border">
                                            <td>@item.Mission.Title</td>
                                            <td>@item.MissionId</td>
                                            <td>@item.UserId</td>
                                            <td>@item.User.FirstName @item.User.LastName</td>
                                            <td>@item.AppliedAt</td>
                                            <td>
                                                @*<button class="border-0 bg-white missionApplicationApproved" data-missionapplication-id="@item.MissionApplicationId" id="missionApplicationApproved"><i class="bi bi-check-circle icon-green"></i></button>*@
                                                <button class="border-0 bg-white missionApplicationApproved" data-missionapplication-id="@item.MissionApplicationId" id="missionApplicationApproved">
                                                    @if (item.ApprovalStatus == "APPROVE")
                                                    {
                                                        <i class="bi bi-check-circle-fill icon-green"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-check-circle icon-green"></i>
                                                    }
                                                </button>

                                                <button class="border-0 bg-white missionApplicationDeclined" data-missionapplication-id="@item.MissionApplicationId">
                                                    @if (item.ApprovalStatus == "DECLINE")
                                                    {
                                                        <i class="bi bi-x-circle-fill icon-red"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-x-circle icon-red"></i>
                                                    }
                                                </button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- Mission Application table -->
                    </div>
                    <!-- Mission Application Tab -->
                    <!-- ---------------------------------------------------------------------------------------------------------------------------------------------------- -->
                    <!-- story tab -->
                    <div class="tab-pane fade " id="v-pills-Story" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                        <span class="mb-0 border-bottom border-dark fs-3">Story</span>
                        <hr class="w-100 mtop">

                        <div class="d-flex w-100 my-4">
                            <!-- searchbar -->
                            <div class=" srch  w-25">

                                <i class="fas fa-search"><img src="~/images/search.png" alt=""></i>
                                <form id="search-form" method="get" class="d-inline">
                                    <input type="search" class="form-control rounded d-inline srch " id="search-input"
                                           name="query" placeholder="Search." aria-label="Search"
                                           aria-describedby="search-addon">
                                </form>

                            </div>
                        </div>
                        <!-- Story table -->
                        <div class="table-responsive ">
                            <table class="table table-borderless ">
                                <thead>
                                    <tr class="bg-light">
                                        <th scope="col">Story Title</th>
                                        <th scope="col">Full Name</th>
                                        <th scope="col">Mission Title</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.Stories)
                                    {
                                        <tr class="border">
                                            <td>@item.Title</td>
                                            <td>@item.User.FirstName @item.User.LastName</td>
                                            <td>@item.Mission.Title</td>
                                            <td>
                                                <a class="btn addUserBtn " asp-action="Story_detail_page" asp-controller="StoryRelated" asp-route-id="@item.StoryId"><span>View</span></a>
                                                <button class="border-0 bg-white storyApproved" data-story-id="@item.StoryId">
                                                    @*<i class="bi bi-check-circle icon-green"></i>*@
                                                    @if (item.Status == "PUBLISHED")
                                                    {
                                                        <i class="bi bi-check-circle-fill icon-green"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-check-circle icon-green"></i>
                                                    }
                                                </button>
                                                <button class="border-0 bg-white storyDeclined" data-story-id="@item.StoryId">
                                                    @*<i class="bi bi-x-circle icon-red"></i>*@
                                                    @if (item.Status == "DECLINED")
                                                    {
                                                        <i class="bi bi-x-circle-fill icon-red"></i>
                                                    }
                                                    else
                                                    {
                                                        <i class="bi bi-x-circle icon-red"></i>
                                                    }
                                                </button>
                                                <button class="border-0 bg-white" data-story-id="@item.StoryId"><i class="bi bi-trash  "></i></button>
                                            </td>
                                        </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                        <!-- Story table -->
                    </div>
                    <!-- story tab -->
                    <div class="tab-pane fade " id="v-pills-BannerManagement" role="tabpanel"
                         aria-labelledby="v-pills-settings-tab">
                        tab8
                    </div>
                </div>
                <!-- for displaying tabs -->

            </div>
            <!-- tab -->
        </div>
    </div>



    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/Admin.js" asp-append-version="true"></script>

</body>

</html>